[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "gnss-sdr"

[packages]
h5py = "*"
pandas = "*"
scipy = "*"
pip = "*"
ipykernel = "*"
matplotlib = "*"
skyfield = "*"
pytest = "*"

[dev-packages]
